<div class="btn-group">
  <button {{bind-attr disabled=cannotAddToDeck}} {{action "addToMain" card}} class="btn btn-primary">Add</button>
  <button {{bind-attr disabled=cannotAddToDeck}} class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    {{fa-icon "caret-down"}}
  </button>
  <ul class="dropdown-menu">
    <li><a {{action "addToMain" card}}>Add to Main Deck</a></li>
    <li class="divider"></li>
    <li><a {{action "addToSide" card}}>Add to sideboard</a></li>
  </ul>
</div>

<div class="btn-group">
  <button {{bind-attr disabled=cannotRemoveFromMainDeck}} {{action "removeOneFromMain" card}} class="btn btn-warning">Remove</button>
  <button {{bind-attr disabled=cannotRemoveFromAnyDeck}} class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    {{fa-icon "caret-down"}}
  </button>
  <ul class="dropdown-menu">
    {{#if canRemoveFromMainDeck}}
      <li><a {{action "removeOneFromMain" card}}>Remove one from Main Deck</a></li>
      <li><a {{action "removeAllFromMain" card}}>Remove all from Main Deck</a></li>
    {{/if}}
    {{#if canRemoveFromSideDeck}}
      <li class="divider"></li>
      <li><a {{action "removeOneFromSide" card}}>Remove one from sideboard</a></li>
      <li><a {{action "removeAllFromSide" card}}>Remove all from sideboard</a></li>
    {{/if}}
  </ul>
</div>
