<div {{bind-attr class=":row :row-offcanvas :row-offcanvas-left filtersActive:active"}}>

  <div class="col-sm-3 col-lg-1 sidebar-offcanvas" id="sidebar">
    {{#each fp in controllers.cards.filterProperties}}
      <div>
        <strong>{{fp.label}}</strong>
        {{#each label in fp.valuesDisplay}}
          {{filter-option tagName="div" fp=fp type="checkbox" displayValue=label}}
        {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-sm-12 col-lg-11">
    {{#full-height class="col-sm-5 overflow-y-scroll"}}
      <button {{action "toggle" "filtersActive"}} class="btn btn-primary sm-display">Toggle Filters</button>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Search</label>
          <div class="col-sm-10">
            {{input type="text" value=controllers.cards.searchTerm class="form-control"}}
          </div>
        </div>
      </form>
      <table class="table table-striped table-bordered table-condensed table-ellipsible">
        <thead>
          <tr>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-3">Set</th>
            <th class="col-sm-2">Mana</th>
            <th class="col-sm-3">Card Type</th>
            <th class="col-sm-1">P/T</th>
          </tr>
        </thead>
        <tbody>
          {{#each card in controllers.cards.displayCards}}
            <tr class="cursor-pointer" {{action "showCard" card}}>
              <td class="col-sm-3" {{bind-attr title=card.name}}>{{card.name}}</td>
              <td class="col-sm-3" {{bind-attr title=card.recentSet}}>{{card.recentSet}}</td>
              <td class="col-sm-2" {{bind-attr title=card.manaCostFormatted}}>{{card.manaCostFormatted}}</td>
              <td class="col-sm-3" {{bind-attr title=card.type}}>{{card.type}}</td>
              <td class="col-sm-1" {{bind-attr title=card.powerToughnessFormatted}}>{{card.powerToughnessFormatted}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      {{outlet "card"}}
    </div>
    <div class="col-sm-5">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-sm-10">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{fa-icon "cog"}}
                {{fa-icon "caret-down"}}
              </button>
              <ul class="dropdown-menu">
                <li><a {{action "exportDeck"}}>Export Deck</a></li>
              </ul>
            </div>
            <span>Deck Classification: <span {{bind-attr class="controllers.deck.isStandard:bg-success"}}>{{controllers.deck.classification}}</span></span>
          </div>
        </div>
        <div class="form-group">
          <label for="deck-name" class="col-sm-2 control-label">Deck name</label>
          <div class="col-sm-10">
            <input class="form-control" id="deck-name"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="deck-comments" class="col-sm-2 control-label">Comments</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="deck-comments" rows="3"></textarea>
          </div>
        </div>
      </form>

      {{#if canShowDeckTable}}
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-sm-3">Number</th>
                <th class="col-sm-9">Card</th>
              </tr>
            </thead>
            <tbody>
              {{!-- Main Deck --}}
              {{#x-tr class="info cursor-pointer" action="showHide" param="mainDeck"}}
                <td>
                  <span>{{cards.length}}</span>
                  <i {{bind-attr class=":fa canShowMainDeck:fa-caret-down:fa-caret-up"}}></i>
                </td>
                <td><strong>Maindeck</strong></td>
              {{/x-tr}}
              {{#if canShowMainDeck}}

                {{#each group in mainDeckGroupings itemController="deckTableItem"}}
                  {{#x-tr class="success cursor-pointer" action="showHide" param=group.superType}}
                    <td>
                      <span class="indent indent-1">{{group.numberOf}}</span>
                      <i {{bind-attr class=":fa group.canShow:fa-caret-down:fa-caret-up :indent :indent-1"}}></i>
                    </td>
                    <td><strong>{{pluralize group.type}}</strong></td>
                  {{/x-tr}}
                  {{#if group.canShow}}
                    {{#each cardObj in group.cardObjs}}
                      {{#x-tr action="showCard" param=cardObj.card}}
                        <td>
                          <span class="indent indent-2">{{cardObj.count}}</span>
                        </td>
                        <td class="cursor-pointer">{{cardObj.card.name}}</td>
                      {{/x-tr}}
                    {{/each}}
                  {{/if}}
                {{/each}}

              {{/if}}

              {{!-- Sideboard --}}
              {{#if sideboard.length}}
                <tr></tr>
                {{#x-tr class="info cursor-pointer" action="showHide" param="sideDeck"}}
                  <td>
                    <span>{{sideboard.length}}</span>
                    <i {{bind-attr class=":fa canShowSideDeck:fa-caret-down:fa-caret-up"}}></i>
                  </td>
                  <td><strong>Sideboard</strong></td>
                {{/x-tr}}

                {{#if canShowMainDeck}}

                  {{#each group in sideDeckGroupings itemController="deckTableItem"}}
                    {{#x-tr class="success cursor-pointer" action="showHide" param=group.superType}}
                      <td>
                        <span class="indent indent-1">{{group.numberOf}}</span>
                        <i {{bind-attr class=":fa group.canShow:fa-caret-down:fa-caret-up :indent :indent-1"}}></i>
                      </td>
                      <td><strong>{{pluralize group.type}}</strong></td>
                    {{/x-tr}}
                    {{#if group.canShow}}
                      {{#each cardObj in group.cardObjs}}
                        {{#x-tr action="showCard" param=cardObj.card}}
                          <td>
                            <span class="indent indent-2">{{cardObj.count}}</span>
                          </td>
                          <td class="cursor-pointer">{{cardObj.card.name}}</td>
                        {{/x-tr}}
                      {{/each}}
                    {{/if}}
                  {{/each}}

                {{/if}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{/full-height}}
  </div>
</div>