<div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'application' class="navbar-brand"}}Webatrice{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Contact {{fa-icon "caret-down"}}</a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/thomasjmwb/bbbbbbbbbbbbbbb">{{fa-icon "github"}} Github</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Hi {{controllers.user.name}}{{fa-icon "caret-down"}}</a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'user' controllers.user.id}}Profile{{/link-to}}</li>
            <li>{{#link-to 'decks.list' controllers.user.id}}Decks{{/link-to}}</li>
          </ul>          
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>
