<img {{bind-attr src=imageUrl}} class="img-responsive">
<div class="row">
  <div class="col-sm-6">
    <span>Name</span>
  </div>
  <div class="col-sm-6">
    <span>{{name}}</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <span>Mana cost</span>
  </div>
  <div class="col-sm-6">
    <span>{{manaCostFormatted}}</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <span>Card type</span>
  </div>
  <div class="col-sm-6">
    <span>{{type}}</span>
  </div>
</div>
{{#if powerToughnessFormatted}}
  <div class="row">
    <div class="col-sm-6">
      <span>P/T</span>
    </div>
    <div class="col-sm-6">
      <span>{{powerToughnessFormatted}}</span>
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="col-sm-12">
    <p>{{text}}</p>
  </div>  
</div>

<div class="row">
  <button {{action "addToMain" this}} class="btn btn-primary">Add to Main Deck</button>
</div>