<form class="form-horizontal">
  <div class="form-group">
    <label for="deck-name" class="col-sm-2 control-label">Deck name</label>
    <div class="col-sm-10">
      <input class="form-control" id="deck-name"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="deck-comments" class="col-sm-2 control-label">Comments</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="deck-comments" rows="3"></textarea>
    </div>
  </div>
</form>

{{#if cards.length}}
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="col-sm-3">Number</th>
          <th class="col-sm-9">Card</th>
        </tr>
      </thead>
      <tbody>
        {{#x-tr class="info" action="toggle" param="mainDeckExpanded"}}
          <td>
            {{cards.length}}
            {{#if mainDeckExpanded}}
              {{fa-icon "caret-down"}}
            {{else}}
              {{fa-icon "caret-up"}}
            {{/if}}
          </td>
          <td><strong>Maindeck</strong></td>
        {{/x-tr}}
        {{#if mainDeckExpanded}}
          {{#if numMainDeckInstants}}
            {{#x-tr class="success" action="toggle" param="mainDeckInstantsExpanded"}}
              <td>
                <span class="indent indent-1">{{numMainDeckInstants}}</span>
                {{#if mainDeckInstantsExpanded}}
                  {{fa-icon "caret-down"}}
                {{else}}
                  {{fa-icon "caret-up"}}
                {{/if}}
              </td>
              <td><strong>Instants</strong></td>
            {{/x-tr}}
            {{#if mainDeckInstantsExpanded}}
              {{#each cardObj in mainDeckInstants}}
                {{#x-tr action="showCard" param=cardObj.card}}
                  <td><span class="indent indent-2">{{cardObj.count}}</span></td>
                  <td class="cursor-pointer">{{cardObj.name}}</td>
                {{/x-tr}}
              {{/each}}
            {{/if}}
          {{/if}}
        {{/if}}
      </tbody>
    </table>
  </div>
{{/if}}