<div {{bind-attr class=":row :row-offcanvas :row-offcanvas-left filtersActive:active"}}>
  <div class="col-sm-6 col-lg-1 sidebar-offcanvas" id="sidebar">
    <strong>Card types</strong>
    <div class="checkbox">
      <label>
        {{input type="checkbox"}}
        Sorcery
      </label>
    </div>
  </div>
  <div class="col-sm-12 col-lg-11">
    <div class="col-sm-5">
      <button {{action "toggleFilters"}} class="btn btn-primary sm-display">Toggle Filters</button>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <td class="col-sm-3">Name</td>
            <td class="col-sm-3">Set</td>
            <td class="col-sm-1">Mana</td>
            <td class="col-sm-4">Card Type</td>
            <td class="col-sm-1">P/T</td>
          </tr>
        </thead>
        <tbody>
          {{#each card in controllers.cards.displayCards}}
            <tr {{action "showCard" card}}>
              <td class="col-sm-3">{{card.name}}</td>
              <td class="col-sm-3">{{card.recentSet}}</td>
              <td class="col-sm-1">{{card.manaCostFormatted}}</td>
              <td class="col-sm-4">{{card.type}}</td>
              <td class="col-sm-1">{{card.power}}/{{card.toughness}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      {{outlet "card"}}    
    </div>
    <div class="col-sm-5">
      {{outlet}}
    </div>
  </div>
</div>